/* 
    RESET
*/

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
    DEBUG
*/

.debug header{
    background-color: #add8e6;
}

.debug .hero{
    background-color: #00008b;
}

.debug .header-top{
    background-color: #daa520;
    height: 50px;
    border: 1px dashed;
}

.debug .header-bot{
    background-color: #ee82ee;
    height: 500px;
}

.debug .row{
    height: 400px;
}

.debug .container-big{
    background-color: #1e90ff;
    border: 1px dashed;
}

.debug .container-small{
    background-color: #ffc0cb;
    border: 1px dashed;
}

.debug .last-container{
    background-color: #228b22;
    height: 900px;
    border: 1px dashed;
}

.debug .footer-top{
    height: 500px;
}

.debug .box-1{
    background-color: #f08080;
    border: 1px dashed;
}

.debug .box-2{
    background-color: #20b2aa;
    border: 1px dashed;
}

.debug .footer-bot{
    background-color: #7fffd4;
    height: 60px;
}

.debug .logo-footer{
    background-color: #ffb6c1;
    border: 1px dashed;
}

.debug .button{
    background-color: #ffb6c1;

}

/* 
    COMMON
*/

.container{
    max-width: 1200px;
    margin: auto
}

/* 
    HEADER  
*/

header{
    background-color: #255ee9;
    padding-top: 16px;
}

.header-top{
    display: flex;
    align-items: center;
}

.header-bot{
    padding: 100px 0;
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}


/* 
    NAV
*/

a{
    color: inherit;
    text-decoration: none;
}

.main-nav{
    display: flex;
    width: 60%;
    justify-content: center;
}

.main-nav ul{
    color: white;
    display: flex;
    list-style-type: none;
}

.main-nav li{
    font-size: 20px;
    margin: 0 10px;
}

.logo, .login{
    width: 20%;
}

.login{
    text-align: end;
}

.login a {
    font-size: 20px;
    background-color: #ffff;
    padding: 12px 10px;
    border-radius: 20px;
}


/*
    BUTTONS
*/

.container-button{
    margin-top: 10px;
}

button{
    border: none;
    padding: 12px 10px;
    border-radius: 20px;
    margin: 0 4px;
}

#download{
    font-size: 20px;
    background-color: #ffff;
}

#browser{
    font-size: 20px;
    color: white;
    background-color: #23272a;
    padding: 13px 10px;
}

#download-star{
    margin-top: 30px;
    margin-bottom: 100px;
    color: white;
    font-size: 20px;
    background-color: #7289DA;
}

/* 
    HERO
*/

h1{
    font-size: 60px;
    padding: 30px;
}

.hero{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}


.container-p{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 16px;
}

/* 
    MAIN
*/

p{
    font-weight: 300;
}

section:nth-child(3n)::before{
    height: 150px;
    content:"";
    filter: invert(98%) sepia(1%) saturate(1776%) hue-rotate(308deg) brightness(108%) contrast(93%);
    background-image: url(../img/wave.svg);
    display: block;
    transform: rotate(180deg);
    transform: rotateX(180deg);
    position: relative;
    top: -100px
}


section:nth-child(odd)::after{
    height: 150px;
    content:"";
    filter: invert(98%) sepia(1%) saturate(1776%) hue-rotate(308deg) brightness(108%) contrast(93%);
    background-image: url(../img/wave.svg);
    display: block;
    position: relative;
    bottom: -20px;
}



section{
    padding-top: 100px;
}

.row{
    display: flex;
}

.container-big{
    width: 60%;
}

.container-small{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

h2{
    font-size: 50px;
}

p{
    margin-top: 20px;
    font-size: 20px;
}

.last-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


section:nth-child(2n){background-size: ;
    background-color:  #F6F6F6;
}

.stars{
    width: 46%;
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
}

.stars h3{
    font-size: 30px;
}


/* 
    FOOTER
*/
footer{
    background-color: #23272a;
    padding: 16px 0;
}

.footer-top{
    display: flex;
    padding-bottom: 70px;
}

.box-1{
    width: 25%;
}

.box-2{
    width: 18.75%;
}

.logo-footer{

}


.footer-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}